Repository kimata/rasp-water: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-webapp, deploy-webapp-demo, renovate

Path conditions:
  deploy-webapp: any of: flask/**/*, src/**/*
  deploy-webapp-demo: any of: flask/**/*, src/**/*
  renovate: any of: renovate.json

fix
  .gitlab-ci.yml
Due: none

fix
  pyproject.toml
Due: none

fix
  .gitlab-ci.yml
  pyproject.toml
Due: none

fix: 自作ライブラリを別パッケージに分離
  flask/app/app.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix: 共通ライブラリに移動
  flask/app/app.py
  flask/lib/config.py
  flask/lib/flask_util.py
  flask/lib/footprint.py
  flask/lib/logger.py
  flask/lib/notify_slack.py
  flask/lib/webapp_base.py
  flask/lib/webapp_event.py
  flask/lib/webapp_log.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix: ライブラリを分離
  flask/app/app.py
  flask/lib/app_scheduler.py
  flask/lib/rasp_water_schedule.py
  flask/lib/rasp_water_valve.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix
  tests/test_basic.py
Due: none

fix
  flask/src/healthz.py
Due: deploy-webapp, deploy-webapp-demo

fix
  flask/src/healthz.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix
  flask/app/app.py
  flask/lib/valve.py
  flask/lib/weather_forecast.py
  pyproject.toml
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix
  flask/src/healthz.py
  pyproject.toml
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix: コードを整理
  config.example.yaml
  flask/app/app.py
  flask/lib/app_scheduler.py
  flask/lib/rasp_water_schedule.py
  flask/lib/rasp_water_valve.py
  flask/lib/valve.py
  flask/lib/weather_forecast.py
  flask/lib/webapp_config.py
  flask/lib/webapp_util.py
  pyproject.toml
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix
  pyproject.toml
  tests/test_playwright.py
Due: none

fix
  Dockerfile
Due: none

fix: 不要な記載を削除
  .gitlab-ci.yml
Due: none

fix: ローカルレジストリを TLS 対応した
  renovate.json
Due: renovate

fix: タイムアウトを長くした
  tests/conftest.py
Due: none

fix
  renovate.json
Due: renovate

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  .python-version
  Dockerfile
  package-lock.json
Due: none

fix: コードを整理
  Dockerfile
  flask/src/app.py
  flask/src/rasp_water/app_scheduler.py
  flask/src/rasp_water/rasp_water_schedule.py
  flask/src/rasp_water/rasp_water_valve.py
  flask/src/rasp_water/valve.py
  flask/src/rasp_water/weather_forecast.py
  flask/src/rasp_water/weather_sensor.py
  pyproject.toml
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix: 記述を整理
  .gitlab-ci.yml
Due: none

style: 整形
  Dockerfile
Due: none
