Repository kimata/rasp-water: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-webapp, deploy-webapp-demo, renovate

deploy-webapp:
  stage: deploy
  needs:
  - test-playwright-docker
  - test-healthz-docker
  - test-walk-through
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/rasp-water:pod-rollout
  ...

deploy-webapp-demo:
  stage: deploy
  needs:
  - test-playwright-docker-demo
  - test-healthz-docker
  - test-walk-through
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - kubectl config get-contexts
  - kubectl config use-context kimata/rasp-water:pod-rollout
  ...

renovate:
  stage: renovate
  image:
    name: registry.green-rabbit.net:5000/kimata/local_renovate:38
    entrypoint:
    - ''
  script:
  - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

fix
  tests/test_playwright.py
Due: none

fix
  renovate.json
Due: renovate

fix
  pyproject.toml
Due: none

fix
  .github/workflows/regression.yaml
  .gitlab-ci.yml
  Dockerfile
  pyproject.toml
Due: none

fix
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
  pyproject.toml
Due: none

fix
  flask/src/rasp_water/valve.py
Due: deploy-webapp, deploy-webapp-demo

fix
  pyproject.toml
  tests/test_basic.py
Due: none

fix: 不要なライブラリを削除
  pyproject.toml
Due: none

fix: Liveness のチェック方法を変更
  flask/src/rasp_water/scheduler.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix: ログを追加
  flask/src/app.py
  flask/src/healthz.py
Due: deploy-webapp, deploy-webapp-demo

fix: Liveness のチェック方法を変更(変更漏れを修正)
  flask/src/rasp_water/valve.py
  flask/src/rasp_water/webapp_valve.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix: テストの安定性を改善
  tests/test_basic.py
Due: none

fix
  .dockerignore
  .gitlab-ci.yml
  flask/src/healthz.py
  script/buildkitd.toml
  script/sync_overlay.zsh
Due: deploy-webapp, deploy-webapp-demo

fix
  .python-version
  pyproject.toml
Due: none

fix: Liveness のテストを追加
  flask/src/healthz.py
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix
  flask/src/app.py
Due: deploy-webapp, deploy-webapp-demo

fix
  tests/test_basic.py
Due: none

fix
  config.example.yaml
Due: none

fix: テストの安定性を改善
  pyproject.toml
  tests/test_basic.py
Due: none

fix: コードを整理
  tests/test_basic.py
Due: none

fix
  .pre-commit-config.yaml
Due: none

style: 整形
  .github/workflows/regression.yaml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .yamlfmt
  config.example.yaml
  kubernetes/rasp-water.yml
Due: none

fix: ESLint がエラーを吐かないようにした
  package-lock.json
  package.json
Due: deploy-webapp, deploy-webapp-demo

feat: 設定ファイルのフォーマットチェック処理を追加
  config.schema
  flask/src/app.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

fix
  config.schema
Due: none

fix
  flask/src/app.py
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix: コードを整理
  .gitlab-ci.yml
  flask/src/rasp_water/scheduler.py
  pyproject.toml
  tests/test_basic.py
Due: deploy-webapp, deploy-webapp-demo

fix: ライブラリをバージョンアップ
  package-lock.json
  package.json
Due: deploy-webapp, deploy-webapp-demo

fix: 更新
  package-lock.json
Due: deploy-webapp, deploy-webapp-demo

fix: テストの安定性を向上
  tests/test_basic.py
Due: none

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  Dockerfile
  package.json
Due: deploy-webapp, deploy-webapp-demo

feat: 雨量センサの値を使って水やりするかどうかを判断するようにした
  config.example.yaml
  config.schema
  flask/src/rasp_water/weather_forecast.py
  flask/src/rasp_water/weather_sensor.py
  flask/src/rasp_water/webapp_valve.py
  pyproject.toml
Due: deploy-webapp, deploy-webapp-demo

Path conditions:
  deploy-webapp: any of: package.json, package-lock.json, flask/**/*, src/**/*
  deploy-webapp-demo: any of: package.json, package-lock.json, flask/**/*, src/**/*
  renovate: any of: renovate.json
